@model FavoDeMel.Presentation.MVC.ViewModels.ComandaViewModel.NovaComandaViewModel

@{
    ViewData["Title"] = "Abertura de comanda";
}

<div class="container">
    <p></p>
    <h3>@ViewData["Title"]</h3>
    <div class="form-group">
        <label for="email"><b>Garçom:</b> @User.Identity.Name</label>
    </div>

    <h3>Mesa: @Model.Numero</h3>

    <form method="post" asp-controller="Comanda" asp-action="AdicionarComanda">
        <div class="form-group">
            <input type="hidden" id="Id" name="Id" value="@Model.MesaId" />
            <label for="Codigo">Digite o número da comanda a ser adicionada à mesa:</label>
            <input type="text" class="form-control" id="Codigo" name="Codigo">
        </div>
        <a asp-controller="Mesa" asp-action="Index" class="btn btn-dark">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> VOLTAR
        </a>
        <button type="submit" class="btn btn-dark">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> ABRIR COMANDA
        </button>
    </form>

</div>
