@model FavoDeMel.Presentation.MVC.ViewModels.ComandaViewModel.NovaComandaViewModel

@{
    ViewData["Title"] = "Abertura de comanda";
}

<div class="container">
    <p></p>
    <h3>@ViewData["Title"]</h3>
    <div class="form-group">
        <label for="email"><b>Garçom:</b> @User.Identity.Name</label>
    </div>

    <h3>Mesa: @Model.Numero</h3>

    <div>

    </div>

</div>
