@model FavoDeMel.Presentation.MVC.ViewModels.AccountViewModels.UsuarioViewModel
@using FavoDeMel.Presentation.MVC.Services
@using FavoDeMel.Presentation.MVC.ViewModels

@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Autenticação";
    var headerList = new List<Header>();
}

<partial name="_Header" model="headerList" />

<div class="brand-header-block">
    Este sistema está na versão 1.0 e tem com objetivo principal apresentar a solução da prova de arquiteto de software EWAVE.<br>
    Para maiores informações da documentação, acesse: <a href="https://github.com/MaqBr/ewave-favo-de-mel-arquiteto" target="_blank">https://github.com/MaqBr/ewave-favo-de-mel-arquiteto</a>
</div>
<div class="container account-login-container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <form asp-controller="Usuario" asp-action="Autenticar" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <h4>INFORME OS SEUS DADOS DE ACESSO</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label form-label"></label>
                        <input asp-for="Email" class="form-control form-input form-input-center" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label form-label"></label>
                        <input asp-for="Password" class="form-control form-input form-input-center" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Lembrar">
                                <input asp-for="Lembrar" />
                                @Html.DisplayNameFor(m => m.Lembrar)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;ENTRAR&nbsp;</button>
                    </div>
                    <p>
                        Atenção: entre com uma das credenciais abaixo para demostração:
                    </p>
                    <p>
                        Usuário Garçom: <b>garcom@teste.com</b>
                    </p>
                    <p>
                        Usuário Cozinha: <b>cozinha@teste.com</b>
                    </p>
                    <p>
                        Senha: <b>Teste@123</b>
                    </p>
                </form>
            </section>
        </div>
    </div>
</div>
