@{
    ViewData["Title"] = "Index";
}

<center>
    <br><br>
    <br><br>
    <br>
    <h2>Tutorial de como utilizar autenticação com Identity no<br>ASP .NET Core</h2>
    <br><br>
    <a href="~/Usuario/LoginPage" class="btn btn-dark">Realizar o login</a>
</center>