
@{
    ViewData["Title"] = "Minha Conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active"> Minha conta</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> Minha conta </span></h1>

            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <p> Your account has been created. </p>

                    <h2 class="block-title-2">
                        <span>Bem vindo a sua conta. Aqui você consegue gerenciar seus dados pessoais, bem como visualizar seus pedidos.</span>
                    </h2>
                    <ul class="myAccountList row ">
                        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail">
                                <a title="Pedidos" asp-controller="Pedidos" asp-action="Index">
                                    <i class="fa fa-calendar"></i> Meus pedidos
                                </a>
                            </div>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail">
                                <a title="My addresses" href="my-address.html">
                                    <i class="fa fa-map-marker"></i> Meus endereços
                                </a>
                            </div>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail">
                                <a title="Add  address" href="add-address.html">
                                    <i class="fa fa-edit"> </i> Adicionar endereços
                                </a>
                            </div>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                            <div class="thumbnail">
                                <a title="Personal information"
                                   href="user-information.html">
                                    <i class="fa fa-cog"></i>
                                    Informações pessoais
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="clear clearfix"></div>
                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"></div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
