@model FavoDeMel.Presentation.MVC.CatalogoViewModels.ViewModels.ProdutoViewModel

    <img class="esh-catalog-thumbnail" src="~/images/@Model.Imagem" />
    <a class="esh-catalog-button" asp-controller="Vitrine" asp-action="ProdutoDetalhe" asp-route-id="@Model.Id">[ + COMANDA ]</a>
    
    <div class="esh-catalog-name">
        <span>@Model.Nome</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Valor.ToString("C")</span>
    </div>
    <input type="hidden" asp-for="@Model.Id" name="id" />

