@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark"><span class="fa fa-user"></span> Usuário autenticado: @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Sair">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-sign-out-alt"></i> Sair SSO</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><span class="fa fa-key"></span> Acessar via SSO</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AdminProdutos" asp-action="Index"><span class="fa fa-key"></span> Gerenciar Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Carrinho" asp-action="Index"><span class="fa fa-shopping-cart"></span> Detahes da comanda</a>
    </li>
</ul>
